html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

body{
    font-size: 10pt;
    background-color:#0b0b1c;
    color: white;
}

p.iconoverlaytext {
    margin-left: 40px;
}

img.noscalefifty{
    max-height: 50%;
    max-width: 50%;
    align-self: center;
}


@media not scripting{
    img.bcmLogoNormal{
        visibility: hidden;
    }
    img.bcmLogoFall{
        visibility: hidden;
    }
    img.bcmLogoWinter{
        visibility: hidden;
    }
    script.logoScript{
        visibility: hidden;
    }
    noscript.logoScript{
        color:red;
        font-size: 16px;
    }
}

.tooltip{
    position:relative;
    align-content: center;
    display:inline-block;
    padding: 2px;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    margin-left: -75px;
    background-color: #6f88b9;
    text-align: left;
    padding: 1px;
    opacity: 0;
    z-index: 1;
    border-color:white;
    border-radius: 1pt;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity 1.2s;
}

.container{
    padding: 8pt;
    border-style: solid;
    border-color: white;
}

@media screen{
    .container_vertical {
        padding: 0pt;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        vertical-align: center;
        align-content: center;
        text-align: center;
    }
}

@media screen{
    .container_horizontal {
        padding: 0pt;
        margin-left: 4px;
        margin-right: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        text-align: center;
    }
}

@media screen and (max-width:900px) and (min-width:1px){
    .container_horizontal {
        scale: 50%;
        padding: 0pt;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        text-align: center;
    }
}

ul.whatdoherelist{
    font-size: 105%;
    font-style: italic;
}

@media screen{
    a.ytlink{
        scale: 90%;
        padding: 16px, 16px, 16px, 16px;
        align-content: center;
        background-color: #253f73;
        border:none;
        border-radius: 0pt;
        color: white;
        cursor: pointer;
    }
}

@media screen and (max-width:900px) and (min-width:1px){
    a.ytlink{
        scale: 99%;
        padding: 2px, 2px, 2px, 2px;
        align-content: center;
        background-color: #222222;
        border:none;
        border-radius: 0pt;
        color: white;
        cursor: pointer;
    }
}

iframe{
    padding: 16px, 16px, 16px, 16px;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    align-content:inherit;
    color: white;
}

button.back{
    color:white;
    background-color:#2a3a7c;
    border: none;
    border-radius: 4pt;
    padding: 4pt 14pt;
    font-size: 125%;
    cursor:pointer;
}

@keyframes animatedbox{
    from{
        height:0
    }
    to{
        height:100
    }
}

p.animatedbox{
    animation-name: "animatedbox";
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 8pt;
    border-style: solid;
    border-color: white;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

button:hover.back{
    color:lightgray;
    background-color:#2742b1;
    transition: 0.35s;
}

button:active.back{
    background-color:#8680ff;
    color:white;
    transition: 0.1s;
}