html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

body{
    font-size: 10pt;
    background-color:#0b0b1c;
    color: white;
}

footer{
    border-width: 2px;
    border-color: white;
    border-top-style: solid;
    text-align: center;
}

.colormatic {
    background: linear-gradient(90deg, #ee110f, #edf200, #4dda05, #2affad, #2d2af4, #fd2aff, #ee110f);
    background-size: 500% 100%;
    animation: colormaticBgLeft 17s linear infinite;
    text-shadow: 0px 0px 20px #000;
    border-radius: 64px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.colormatic_basic {
    background: linear-gradient(90deg, #ee110f, #edf200, #4dda05, #2affad, #2d2af4, #fd2aff, #ee110f);
    background-size: 500% 100%;
    animation: colormaticBgLeft 17s linear infinite;
    text-shadow: 0px 0px 20px #000;
}

@keyframes colormaticBgRight {
    0% {
        background-position: 500% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

@keyframes colormaticBgLeft {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 500% 100%;
    }
}

code-block{
    border: solid;
    border-width: 1px;
    background-color: black;
    border-color: gray;
    font-family:'Courier New';
}

p.titleparagraph{
    font-size: 32px;
    font-weight: bolder;
}


/* Only used for menu buttons in menus, not to be used anywhere else */
button:hover.menubutton{
    color:black;
    background-color:#beccff;
    transition: 0.35s;
    border-color: white;
}
/* Only used for menu buttons in menus, not to be used anywhere else */
button:active.menubutton{
    background-color:#8680ff;
    color:white;
    transition: 0.1s;
}

p.iconoverlaytext {
    margin-left: 40px;
}

/* Display for the main dynamic website icon in the menu area */
div.iconarea{
    justify-self:left;
    padding-right:32px;
}

/* used for images that should be always 50% the size of the page and centered */
img.noscalefifty{
    max-height: 50%;
    max-width: 50%;
    align-self: center;
}

/* general purpose navigation menu */
ul.menu{
    border: outset;
    border-width: 4px;
    border-color: #405bc4;
    text-justify: inter-word;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 2px;
    padding: 16px;
    justify-content: center;
    align-content: space-evenly;
    place-content:center;
}

li.menubutton{
    padding-left: 10px;
    z-index: 5;
}

a.menubuttonlink{
    color:white;
    text-decoration: none;
    text-align:center;
}

/* the menu button look used for all screens */
@media screen{
    button.menubutton{
        width: 150px;
        height: 70px;
        max-height: 480px;
        max-width: 480px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 20px;
        padding-right: 20px;
        color:white;
        background-color:#2a3a7c;
        border: solid;
        border-radius: 4px;
        border-width: 1px;
        font-size: 172%;
        cursor:pointer;
        z-index: 5;
    }
}
/* the menu button look used for all screens that are like a portrait cell or otherwise smartphone */
@media screen and (max-width:900px) and (min-width:1px){
    button.menubutton{
        min-width: 1px;
        min-height: 1px;
        width: 150px;
        height: 70px;
        max-height: 25px;
        max-width: 80px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 20px;
        padding-right: 20px;
        color:white;
        background-color:#2a3a7c;
        border: solid;
        border-radius: 0px;
        border-width: 1px;
        font-size: 50%;
        cursor:pointer;
        z-index: 5;
    }
}


@media not scripting{
    img.bcmLogoNormal{
        visibility: hidden;
    }
    img.bcmLogoFall{
        visibility: hidden;
    }
    img.bcmLogoWinter{
        visibility: hidden;
    }
    script.logoScript{
        visibility: hidden;
    }
    noscript.logoScript{
        color:red;
        font-size: 16px;
    }
}

.tooltip{
    position:relative;
    align-content: center;
    display:inline-block;
    padding: 2px;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    margin-left: -75px;
    background-color: #6f88b9;
    text-align: left;
    padding: 1px;
    opacity: 0;
    z-index: 1;
    border-color:white;
    border-radius: 1pt;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity 1.2s;
}

.container{
    text-decoration: none;
    padding: 8pt;
    border-style: solid;
    border-color: white;
}

ol.container {
    text-decoration: none;
    list-style-type: none;
}

ul.container {
    text-decoration: none;
    list-style-type: none;
}

@media screen{
    .container_vertical {
        padding: 0pt;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        vertical-align: center;
        align-content: center;
        text-align: center;
    }
}

@media screen{
    .container_horizontal {
        padding: 0pt;
        margin-left: 4px;
        margin-right: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        text-align: center;
    }
}

@media screen and (max-width:900px) and (min-width:1px){
    .container_horizontal {
        scale: 50%;
        padding: 20pt;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}

ul.whatdoherelist{
    font-size: 105%;
    font-style: italic;
}

@media screen{
    a.ytlink{
        scale: 90%;
        padding: 16px, 16px, 16px, 16px;
        align-content: center;
        background-color: #253f73;
        border:none;
        border-radius: 0pt;
        color: white;
        cursor: pointer;
    }
}

@media screen and (max-width:900px) and (min-width:1px){
    a.ytlink{
        scale: 99%;
        padding: 2px, 2px, 2px, 2px;
        align-content: center;
        background-color: #222222;
        border:none;
        border-radius: 0pt;
        color: white;
        cursor: pointer;
    }
}

iframe{
    padding: 16px, 16px, 16px, 16px;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    align-content:inherit;
    color: white;
}

iframe.ytlinkcached{
    referrerpolicy: "no-referrer";
    height: 190;
    width: 320;
}

button.back{
    color:white;
    background-color:#2a3a7c;
    border: none;
    border-radius: 4pt;
    padding: 4pt 14pt;
    font-size: 125%;
    cursor:pointer;
}

@keyframes animatedbox{
    from{
        height:0
    }
    to{
        height:100
    }
}

p.animatedbox{
    animation-name: "animatedbox";
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 8pt;
    border-style: solid;
    border-color: white;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

button:hover.back{
    color:lightgray;
    background-color:#2742b1;
    transition: 0.35s;
}

button:active.back{
    background-color:#8680ff;
    color:white;
    transition: 0.1s;
}