@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&family=Palanquin+Dark:wght@400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;
}

@media screen{
    .dropdown{
        position: relative;
    }
    button.dropdown{
        min-width: 64px;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        background-color:#2a3a7c;
        color: white;
        transition: 0.04s;
        margin-bottom: 5%;
        z-index: 2;
    }
    button.dropdown:hover{
        display: flex;
        flex-direction: column;
        background-color:#ffffff;
        transition: 0.27s;
        color: black;
        margin-bottom: 100%;
        z-index: 3;
    }
    button.subdropdown{
        min-width: 64px;
        font-size: 70%;
        border: none;
        cursor: pointer;
        display: block;
        background-color:#45569b;
        color: white;
        transition: 0.1s;
        z-index: 12;
        transform: translate(0px,-10%)
    }
    button.subdropdown:hover{
        min-width: 64px;
        display: block;
        cursor: pointer;
        background-color:#ffffff;
        transition: 0.27s;
        color: black;
        z-index: 12;
        transform: translate(0px,-10%)
    }
    .dropdown-content{
        display: none;
        position: absolute;
        min-width: 200px;
    }
    a.dropdown-content{
        background-color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    /* the hover style */
    .dropdown:hover .dropdown-content{
        display: block;
        animation: fadein 0.45s ease-in-out;
    }
}

@media screen{
    .main-page{
        padding-left: 160px;
    }
    .sidebar{
        background-color: black;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 2px;
    }
}

@media screen and (max-width:900px) and (min-width:1px){
    .main-page{
        padding-left: 50px;
    }
    .sidebar{
        background-color: black;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }
}

.emoji {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.game-basic{
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    font-size: 10pt;
    background-color:#0b0b1c;
    color: white;
}

@media screen{
    body.mod-page-body{
        font-family: "Noto Color Emoji", Palanquin Dark, sans-serif;
    }
}

footer{
    border-width: 2px;
    border-color: white;
    border-top-style: solid;
    text-align: center;
}

.colormatic-text {
    background: linear-gradient(90deg, #ee110f, #edf200, #4dda05, #2affad, #2d2af4, #fd2aff, #ee110f);
    -webkit-background-clip: text;
    background-size: 500% 100%;
    background-clip: text;
    color: transparent;
    animation: colormaticTextRight 17s linear infinite;
    text-shadow: 0px 0px 20px #000;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.colormatic-text-glow {
    animation: colormaticBgGlowRight 17s infinite;
    background: linear-gradient(90deg, #ee110f, #edf200, #4dda05, #2affad, #2d2af4, #fd2aff, #ee110f);
    -webkit-background-clip: text;
    background-size: 500% 100%;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px 20px #ffffff;
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@keyframes colormaticBgGlowRight {
    0% {
        background-position: 500% 0%;
        text-shadow: 0px 0px 16px #ee110f;
    }
    25%{
        background-position: 450% 0%;
        text-shadow: 0px 0px 16px #ff7700;
    }
    35%{
        background-position: 350% 0%;
        text-shadow: 0px 0px 16px #edf200;
    }
    40% {
        background-position: 250% 0%;
        text-shadow: 0px 0px 16px #00ff00;
    }
    52% {
        background-position: 200% 0%;
        text-shadow: 0px 0px 16px #00ffee;
    }
    75% {
        background-position: 150% 0%;
        text-shadow: 0px 0px 16px #1100ff;
    }
    85% {
        background-position: 100% 0%;
        text-shadow: 0px 0px 16px #ff00ff;
    }
    100% {
        background-position: 0% 100%;
        text-shadow: 0px 0px 16px #ee110f;
    }
}

.colormatic-no-roundness {
    background: linear-gradient(90deg, #ee110f, #edf200, #4dda05, #2affad, #2d2af4, #fd2aff, #ee110f);
    background-size: 500% 100%;
    animation: colormaticBgLeft 17s linear infinite;
    text-shadow: 0px 0px 20px #000;
    border-radius: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.colormatic {
    background: linear-gradient(90deg, #ee110f, #edf200, #4dda05, #2affad, #2d2af4, #fd2aff, #ee110f);
    background-size: 500% 100%;
    animation: colormaticBgLeft 17s linear infinite;
    text-shadow: 0px 0px 20px #000;
    border-radius: 64px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.colormatic_basic {
    background: linear-gradient(90deg, #ee110f, #edf200, #4dda05, #2affad, #2d2af4, #fd2aff, #ee110f);
    background-size: 500% 100%;
    animation: colormaticBgLeft 17s linear infinite;
    text-shadow: 0px 0px 20px #000;
}

.centered-fadein{
    text-align: center;
    justify-content: center;
    animation: fadein 0.45s ease-in-out;
}

section {
    padding: 10px;
}


@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes colormaticBgRight {
    0% {
        background-position: 500% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

@keyframes colormaticBgLeft {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 500% 100%;
    }
}


@keyframes colormaticTextLeft {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 500% 100%;
    }
}

@keyframes colormaticTextRight {
    0% {
        background-position: 500% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

code-block{
    border: solid;
    border-width: 1px;
    background-color: black;
    border-color: gray;
    font-family:'Courier New';
    font-size: 12px;
}

p.titleparagraph{
    font-size: 32px;
    font-weight: bolder;
}


/* Only used for menu buttons in menus, not to be used anywhere else */
button:hover.menubutton{
    color:black;
    background-color:#beccff;
    transition: 0.35s;
    border-color: white;
}
/* Only used for menu buttons in menus, not to be used anywhere else */
button:active.menubutton{
    background-color:#8680ff;
    color:white;
    transition: 0.1s;
}

p.iconoverlaytext {
    margin-left: 40px;
}

/* Display for the main dynamic website icon in the menu area */
div.iconarea{
    justify-self:left;
    padding-right:32px;
}

/* used for images that should be always 50% the size of the page and centered */
img.noscalefifty{
    max-height: 50%;
    max-width: 50%;
    align-self: center;
}

/* general purpose navigation menu */
ul.menu{
    border: outset;
    border-width: 4px;
    border-color: #405bc4;
    text-justify: inter-word;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 2px;
    padding: 16px;
    justify-content: center;
    align-content: space-evenly;
    place-content:center;
}

li.menubutton{
    padding-left: 10px;
    z-index: 5;
}

a.menubuttonlink{
    color:white;
    text-decoration: none;
    text-align:center;
}

/* the menu button look used for all screens */
@media screen{
    button.menubutton{
        width: 150px;
        height: 70px;
        max-height: 480px;
        max-width: 480px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 20px;
        padding-right: 20px;
        color:white;
        background-color:#2a3a7c;
        border: solid;
        border-radius: 4px;
        border-width: 1px;
        font-size: 172%;
        cursor:pointer;
        z-index: 5;
    }
    button.coasterleft, button.coasterright{
        width: 72px;
        height: 400px;
        max-height: 480px;
        max-width: 480px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 20px;
        padding-right: 20px;
        color:white;
        background-color:#2a3a7c;
        border: solid;
        border-radius: 4px;
        border-width: 1px;
        font-size: 300%;
        cursor:pointer;
        z-index: 5;
    }
    button:hover.coasterleft, button:hover.coasterright{
        color:black;
        background-color:#beccff;
        transition: 0.35s;
        border-color: white;
    }
    div.coaster {
        font-family: Palanquin Dark, sans-serif;
        display: flex;
        min-height: 1px;
        max-height: 720px;
        background-color: #0b0b1c;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        margin-left: 128px;
        margin-right: 128px;
    }
    img.shouldgoawaywhensmall{
        display: unset;
    }
    img.shouldonlybeonsmall{
        display: none;
    }
    ul.mod-features{
        list-style-type: square;
        list-style-position: inside;
    }
}
/* the menu button look used for all screens that are like a portrait cell or otherwise smartphone */
@media screen and (max-width:900px) and (min-width:1px){
    button.menubutton{
        min-width: 40px;
        min-height: 16px;
        width: 40px;
        height: 30px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 1px;
        padding-right: 1px;
        color:white;
        background-color:#2a3a7c;
        border: solid;
        border-radius: 0px;
        border-width: 0px;
        font-size: 50%;
        cursor:pointer;
        z-index: 5;
        text-align: center;
    }
    button.coasterleft, button.coasterright{
        min-width: 40px;
        min-height: 16px;
        width: 40px;
        height: 400px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 1px;
        padding-right: 1px;
        color:white;
        background-color:#2a3a7c;
        border: solid;
        border-radius: 0px;
        border-width: 0px;
        font-size: 127%;
        cursor:pointer;
        z-index: 5;
        text-align: center;
    }
    div.coaster {
        scale: 50%;
        display: flex;
        min-height: 1px;
        max-height: 720px;
        background-color: #0b0b1c;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        margin-left: 128px;
        margin-right: 128px;
    }
    img.shouldgoawaywhensmall{
        display: none;
    }
    img.shouldonlybeonsmall{
        display: unset;
    }
}


@media not scripting{
    img.bcmLogoNormal{
        visibility: hidden;
    }
    img.bcmLogoFall{
        visibility: hidden;
    }
    img.bcmLogoWinter{
        visibility: hidden;
    }
    script.logoScript{
        visibility: hidden;
    }
    noscript.logoScript{
        color:red;
        font-size: 16px;
    }
}

.tooltip{
    position:relative;
    align-content: center;
    display:inline-block;
    padding: 2px;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    margin-left: -75px;
    background-color: #6f88b9;
    text-align: left;
    padding: 1px;
    opacity: 0;
    z-index: 1;
    border-color:white;
    border-radius: 1pt;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity 1.2s;
}

.container{
    text-decoration: none;
    padding: 8pt;
    border-style: solid;
    border-color: white;
}

.horizontalfooter{
    display: flex;
    flex-direction: row;
    flex-grow: 8;
    padding: 8px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
    align-items: baseline;
    font-weight: lighter;
    font-size: 70%;
    gap: 4px;
    grid-row-gap: 8px;
}

ol.container {
    text-decoration: none;
    list-style-type: none;
}

ul.container {
    text-decoration: none;
    list-style-type: none;
}

@media screen{
    .container_vertical {
        padding: 0pt;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        vertical-align: center;
        align-content: center;
        text-align: center;
    }
}

@media screen{
    .container_horizontal {
        padding: 0pt;
        margin-left: 4px;
        margin-right: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        text-align: center;
    }
}

@media screen and (max-width:900px) and (min-width:1px){
    .container_horizontal {
        scale: 50%;
        padding: 20pt;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}

ul.whatdoherelist{
    font-size: 105%;
    font-style: italic;
}

@media screen{
    a.ytlink{
        scale: 90%;
        padding: 16px, 16px, 16px, 16px;
        align-content: center;
        background-color: #253f73;
        border:none;
        border-radius: 0pt;
        color: white;
        cursor: pointer;
    }
}

@media screen and (max-width:900px) and (min-width:1px){
    a.ytlink{
        scale: 99%;
        padding: 2px, 2px, 2px, 2px;
        align-content: center;
        background-color: #222222;
        border:none;
        border-radius: 0pt;
        color: white;
        cursor: pointer;
    }
}

iframe{
    padding: 16px, 16px, 16px, 16px;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    align-content:inherit;
    color: white;
}

iframe.ytlinkcached{
    referrerpolicy: "no-referrer";
    height: 190;
    width: 320;
}

button.back{
    text-decoration: none;
    color:white;
    background-color:#2a3a7c;
    border: none;
    border-radius: 4pt;
    padding: 4pt 14pt;
    font-size: 125%;
    cursor:pointer;
}

a.back{
    text-decoration: none;
    color:white;
    border: none;
    cursor:pointer;
}

@keyframes animatedbox{
    from{
        height:0
    }
    to{
        height:100
    }
}


@media screen{
    .centered-article-section{
        text-align: center;
        margin-left: 128px;
        margin-right: 128px;
    }
}

@media screen and (max-width:900px) and (min-width:1px){
    .centered-article-section{
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
    }
}


p.animatedbox{
    animation-name: "animatedbox";
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 8pt;
    border-style: solid;
    border-color: white;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

button:hover.back{
    color:lightgray;
    background-color:#2742b1;
    transition: 0.35s;
}

button:active.back{
    background-color:#8680ff;
    color:white;
    transition: 0.1s;
}